<div class="background-about"style="background-image:url(<%= asset_path "sign_in.jpg" %>)" />
  <div class="background-color-about">
    <div class="container">
      <div class="row">

        <div class="col s4 offset-s4 about-top"><a class="gather"style="color:white;">GATHER</a>とは</div>
        <div class="row">
          <div class="col s8 offset-s2 about-topik">
            <b><u>①『探す』</u>　<br>自分の近くでスポーツ観戦をしている飲食店を探すことができます！</b>
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2 about-content">
            ・「現在地で探す」では、現在地情報を取得し、あなたの現在地付近でスポーツ観戦をしている<br>&emsp;&emsp;飲食店を探すことができます。<br>
              &emsp;&emsp;現在地が取得できない場合は、あなたの現在地を入力してみましょう！！<br>
          </div>
          <div class="col s8 offset-s2 about-content">
            ・「検索して探す」では、店名・住所・観戦したいスポーツ名で、スポーツ観戦しているお店を<br>
            &emsp;&emsp;検索することができます。現在地付近でスポーツ観戦をしている飲食店を探すことができま<br>
            &emsp;&emsp;す。
          </div>
          <div class="col s8 offset-s2 about-content">
            ・気に入ったお店があれば投稿者へコメントし、席の確保なども可能です！
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2 about-topik">
            <b><u>②『集まる』</u>　<br>自分がスポーツ観戦しているお店の様子や雰囲気など<br>
            を発信することによって、近くで飲食店を探している人達に呼びかけることができます！</b>
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2 about-content">
            ・会員登録することによって、飲食店経営者の方の場合、お店の新規登録をし、お店の様子など<br>
            &emsp;を投稿することによって集客効果が望めます！<br>
          </div>
          <div class="col s8 offset-s2 about-content">
            ・お店でスポーツ観戦をしている場合、お店の雰囲気や観戦しているスポーツを投稿することに<br>
            &emsp;よって、近くで飲食店を探している人達に呼びかけることが可能です！
          </div>
        </div>
        <div class="row">
          <div class="col s8 offset-s2 about-topik">
            <b><u>③『繋がる』</u>　<br>気の合う仲間が見つかれば友達申請し、チャットをすることも可能です！</b>
          </div>
        </div>
        <div class="col s8 offset-s2 about-registration"><%= link_to "さああなたも登録してみましょう！！",(new_user_registration_path)%></div>
      </div>
    </div>
  </div>
</div>