<div class="container">
	<div class="row">
		<h1>Chat room</h1>

		<div id="messages">
  			<%= render @messages %>
		</div>

		<form>
  			<label>Say something:</label><br>
  			<input type="text" data-behavior="room_speaker"class="col s6">
		</form>
	</div>
</div>