/*
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("yellow", "base") !default;
@import "materialize";
@import "material_icons";
@import 'font-awesome-sprockets';
@import 'font-awesome';



// admin

// user

// index

.admin-user-title{
  margin-top: 100px;
  text-align: center;
}

.admin-user-index{
  margin-top:100px;
  color:white;
}

.admin-border{
  width: 80%;
  height: 2px;
  background-color:#dadada;
  margin: 0 auto;
}

// bar


// show

.admin-post-title{
  text-align: center;
  font-size: 24px;
}

// contact

//  show

.admin-contact-show-title{
  margin-bottom: 50px;
}

// ここからheader

.a-notification{
  color:gold;
  padding-left:20px;
  padding-top: 10px;
}

.g-notification{
  padding-bottom: 100px;
}

.logo{
	margin-left: 10px;
	margin-right: 10px;
}

.gather{
	font-family:'Comic Sans MS';
	font-size: 35px;
	padding-bottom: 10px;
}

// footer用記述

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}


  // TOP INDEX

.title-gather{
  font-family:'Comic Sans MS';
  margin-top: 100px;
  font-size: 80px;
  color:white;
}

.background-image{
  background-image: image-url("toppage.jpg");
  background-size: cover;
  width: 100%;
  height: 1200px;
}

.background-color-top{
  background-color: rgba( 0, 0, 0, 0.5);
  width: 100%;
  height: 1200px;
}

.top-text{
  color:white;
  margin-top: 100px;
  text-align: center;
}

.top-button{
  margin-top:100px;
  width: 200px;
}

.top-button-2{
  margin-top: 100px;
  font-size: 15px;
  width: 200px;
}



// about

.about-registration{
  margin-top: 50px;
  font-size:20px;
}

.about-topik{
  color:white;
  margin-top: 100px;
  font-size:20px;
}

.about-top{
  color:white;
  font-size: 30px;
  margin-top: 100px;
}

.about-content{
  color:white;
  margin-top: 30px;
}

.background-about{
  background-image: image-url("sign_in.jpg");
  background-size: cover;
  width: 100%;
  height: 1600px;
}

.background-color-about{
  background-color: rgba( 0, 0, 0, 0.8);
  width: 100%;
  height: 1600px;
}

// sign_in page

.background-image-sign_in{
  background-image: image-url("sign_in.jpg");
  background-size: cover;
  width: 100%;
  height: 1200px;
}

.background-color-top-sign_in{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: 1200px;
}

.sign_in-top{
  color:white;
  margin-top: 200px;
}

.login_button{
  margin-top: 100px;
}

.login-button-bottom-space{
  color:white;
  margin-top: 50px;
}

// sign_up page

.background-image-sign_up{
  background-image: image-url("sign_up.jpg");
  background-size: cover;
  width: 100%;
  height: 1200px;
}

// ここからUSER

// show

.user-show-chat{
  margin-top:90px;
}

.friend-button{
  margin-top:100px;
}


.user-show-post-index{
  margin-top: 50px;
  margin-bottom: 100px;
  color: white;
}

.background-image-user-show{
  background-image: image-url("sign_up.jpg");
  background-size: cover;
  width: 100%;
  height: 1000px;
}

.background-color-user-show{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: 1000px;
}

.user-show-button{
  margin-top: 100px;
}

.user-show-contents{
  margin-top: 100px;
}

.border{
  width: 80%;
  height: 2px;
  background-color:#dadada;
  margin: 0 auto;
}

.user-title{
  color:white;
  margin-top: 100px;
  text-align: center;
}

.user-show-name{
  color:white;
}

.user-show-email{
  color:white;
}


// edit


.user-edit-image{
  margin-bottom: 70px;
}


// exit

.user-exit-text{
  color: white;
  margin-top: 100px;
}

.user-exit-exit{
  margin-top: 100px;
}

.user-exit-show{
  margin-top: 30px;
}

// ここから　bars

// search

#map{
  margin-top: 100px;
}

.search-bar{
  margin-top: 200px;
  height: 20px;
}

.search-searchbox{
  margin-top: 25px;
}

// new

.bar-new-box{
  border: solid 2px #444444;
  line-height: 25px;
  border-radius:40px;
  background-color: #EEEEEE;
  margin-top: 50px;
}

.bar-new-image{
  margin-top: 80px;
}

.bar-new-name{
  margin-top: 50px;
}

.bar-new-registration{
  margin-top: 50px;
  margin-bottom: 50px;
}

.background-image-bar-new{
  background-image: image-url("sign_in.jpg");
  background-size: cover;
  width: 100%;
  height: 1200px;
}

.background-color-bar-new{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: 1200px;
}


// index

.bar-index-card{
  font-size: 17px;
}

.bars-index-search-box{
  margin-top:100px;
}

.bar-index-box{
  background-color: white;
  border-radius:40px;
  margin-top: 50px;
}

.background-image-bar-index{
  background-image: imege-url("sign_in.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

.background-color-bar-index{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: auto;
}

.bar-index-search{
  color:white;
}

.bar-index-box-post-none{
  background-color: #EEEEEE;
  border-radius:10px;
  margin-bottom:300px;
  margin-top: 50px;
}


// show



.bar-show-comment-date{
  font-size: 12px;
}

.bar-show-comment-delete{
  font-size: 12px;
  text-align: center;
  color:white;
}

.favorite-index{
  margin-bottom: 500px;
}

.bar-show-favorite{
  font-size:10px;
  margin-top:10px;
  border: solid 2px #66CCFF;
  border-radius: 10px;
  padding:10px;
}


.blank{
  margin-bottom:10px;
}

.delete-comment{
  font-size: 10px;
}

.delete-content{
  font-size: 12px;
}

.bar-show-comment-index{
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.bar-show-box-comment-none{
  background-color: #EEEEEE;
  border-radius:10px;
}

.bar-show-box-comment{
  background-color: #EEEEEE;
  border-radius:20px;
  margin-top: 10px;
  margin-bottom: 1px;
}


.bar-show-box-comment-index{
  background-color: #EEEEEE;
  border-radius:20px;
  margin-bottom: 1px;
}

.bar-show-box{
  background-color: #EEEEEE;
  border-radius:10px;
}

.bar-show-box-all{
  background-color: #EEEEEE ;
  border-radius:10px;
  margin-top: 50px;
  margin-bottom: 0;
}

.bar-show-image{
  margin:50px 0 50px 60px;
}

.bar-show-category{
  margin-top: 50px;
}

.bar-show-body{
  margin-top: 50px;
  margin-bottom:100px;
}

.bar-show-post-title{
  margin-top: 20px;
}

.bar-show-user{
  margin-top: 30px;
  margin-bottom: 20px;
}

.bar-show-post-image{
  margin-top: 20px;
}

.bar-show-post-date{
  margin-top:30px;
}

.bar-show-post-new{
  margin-top:100px;
}

.bar-show-post-destroy{
  margin-bottom: 20px;
}

.background-image-bar-show{
  background-image: image-url("sign_in.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

.background-color-bar-show{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: auto;
}

.post-title{
  margin-top: 160px;
  color:white;
  text-align: center;
  font-size: 24px;
}

// ここからPOSTS

// index

.post-index-box-post-none{
  background-color: #EEEEEE;
  border-radius:10px;
  margin-bottom:300px;
}

.post-index-each-post-blank{
  margin-bottom:70px;
}


.post-index-blank{
  height:100px;
}

.background-image-post-index{
  background-image: image-url("sign_in.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

.background-color-post-index{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: auto;
}

.post-index-box-comment{
  background-color: #EEEEEE;
  border-radius:10px;
  margin-bottom: 40px;
}

.bar-index-box{
  background-color: #EEEEEE;
  border-radius:10px;
  margin-bottom: 20px;
}

.bar-post-box{
  background-color: #EEEEEE;
  border-radius:10px;
}

.post-index-bar-name{
  margin-bottom: 20px;
  color:black;
}

//  ここからcontact

//   new

.contact-new-text{
  margin-top:50px;
  text-align: center;
  margin-bottom: 50px;
}

.background-image-contact-new{
  background-image: image-url("sign_in.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}

.background-color-contact-new{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: 800px;
}

.right-content{
  float:right;
}


// relationship

.relationship-friend-name{
  font-size: 16px;
}

.notification-user-name{
  margin-top: 5px;
}

.background-image-relationship-index{
  background-image: image-url("sign_up.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

.background-color-relationship-index{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: auto;
}

.relationships-index-title{
  font-size:20px;
  text-align: center;
  margin-bottom: 15px;
}

// notification

.notification-index{
  margin-bottom:500px;
}

.notification-none-blank{
  margin-bottom:500px;
}

.notification-comment-border{
  width: 90%;
  height: 1px;
  background-color:#dadada;
  margin: 0 auto;
  border-style: ridge;
}

.notification-user-image{
  border-radius: 100px;
}

.notification-index-box-comment{
  background-color: #EEEEEE;
  border-radius:20px;
  margin-top: 10px;
  margin-bottom: 1px;
}

.background-image-notification-index{
  background-image: image-url("sign_in.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

.background-color-notification-index{
  background-color: rgba( 0, 0, 0, 0.7);
  width: 100%;
  height: auto;
}


// room

.room-show-user-name{
  font-size: 18px;
}

.caht-message{
  width:20%;
}

.room-show-box-user{
  background-color: #EEEEEE;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}