<footer class="page-footer #616161 grey darken-2">
 <div class="footer-copyright">
 	<a href="/bars/search"class="logo"><%= image_tag "logo.png" %></a>
  <div class="container">
    © 2019 GATHER
  </div>
 </div>
</footer>